/* General styles for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    max-width: 1270px;
    margin: 0 auto;
}

/* Styles for the side container in the dashboard */
.side-container {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-container h2 {
    margin-bottom: 20px;
}

.side-container p {
    margin-bottom: 15px;
}

.button {
    display: block;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #004080;
}

/* Styles for the main content area in the dashboard */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff; /* White background */
    border: 2px solid black; /* Black border */
    border-radius: 8px; /* Rounded border corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h1.dashboard-title {
    color: white;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
}

p {
    margin-bottom: 20px;
}

/* Styles for the forms (login and registration) */
.form-container {
    background-color: #fff;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-top: 50px;
}

h2 {
    color: orange;
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #004080;
}
